<h1>Welcome to AgileNCR 2012 - 14 & 15 December 2012, New Delhi, India</h1>


<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><img src="/assets/banner1.jpg" width="583" height="300" alt=""/></div>
    <div class="item"><img src="/assets/banner2.jpg" width="583" height="300" alt=""/></div>
    <div class="item"><img src="/assets/banner3.jpg" width="583" height="300" alt=""/></div>
    <div class="item"><img src="/assets/banner4.jpg" width="583" height="300" alt=""/></div>
    <div class="item"><img src="/assets/banner5.jpg" width="583" height="300" alt=""/></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="about_area">
	<p class="nice-text-blue">
    Agile NCR 2012 would bring a unique concept not seen before in an Agile conference in India. The conference would be shaped as a cluster of four sub-conferences including within it the ethos and the elements of all round Enterprise Agility.
  </p>
  <p class="nice-text-blue">
  <b>Conference (1): Pragmatic Agile Adoption - </b>
  This conference would focus on Agile Practices adoption and adaption with a focus on pragmatic agile adoption.
  </p>
  <p class="nice-text-blue">
  <b>Conference (2): Executive conclave on Business of Agile - </b>
  This business leader’s conclave will have theme of making agility work for business and how business leaders can help and take lead in adopting agility in their respective business environments.
  </p>
  <p class="nice-text-blue">
  <b>Conference (3): The Tech Geek Huddle: Engineering Tools and Practices for Agile Teams - </b>
  This conference is for all the techie geeks out there who want to learn all the latest trends and tools support agile deliveries including topics like Agile Testing, Continuous Integration, TDD, ATDD, BDD et al.
  </p>
  <p class="nice-text-blue">
  <b>Conference (4): Agile People: The HR conference on Agile impact on HR & Operations  - </b>
  Finally we are having a conference in India which will focus only on the HR aspect of Agility and the challenges they face.
  </p>
  <p class="nice-text-blue">
  These sub conferences would be attended by close to 400 delegates and 50+ speakers and guests. We also plan to invite eminent personalities from the Agile world to be the keynote speakers for respective sub-conferences.
  </p>
</div>

<script language="javascript">
  $(document).ready(function() {
    $('#myCarousel').carousel({
      interval: 3000
    });
  });
</script>