<div id="tabs-1">
  <h2>Sponsor</h2>
	<a href="http://xebia-india.com" target="_blank"><img src="/assets/logos/xebia_logo.png" alt="Xebia logo" /></a>
</div>

<div id="tabs-2" style="margin-top: 30px;">
  <h2>Supported by</h2>
	<ul>
    <li><a href="http://www.nasscom.org" target="_blank"><img src="/assets/logos/nasscomLogo.jpg" alt="Nasscom" /></a></li>
</div>
