<div id="tabs-1">
  <h2>Sponsor</h2>
	<a href="http://xebia-india.com" target="_blank"><img src="/assets/logos/xebia_logo.png" alt="Xebia logo" /></a>
</div>

<div id="tabs-2" style="margin-top: 30px;">
  <h2>Past Sponsors</h2>
	<ul>
    <li><a href="http://www.goodagile.com" target="_blank"><img src="/assets/logos/good_agile_logo.png" alt="GoodAgile logo" /></a></li>
    <li><a href="http://www.versionone.com" target="_blank"><img src="/assets/logos/v1-logo.gif" alt="VersionOne logo" /></a></li>
    <li><a href="http://www.xebialabs.com" target="_blank"><img src="/assets/logos/Xebialabs_logo.png" alt="XebiaLabs logo" /></a></li>
    <li><a href="http://www.lithespeed.com/" target="_blank"><img src="/assets/logos/LS_logo.jpg" alt="LitheSpeed logo"/></a></li>
	  <li><img src="/assets/ait_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="/assets/asci_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="/assets/ericsson_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="/assets/initto_logo.png" width="115" height="101" alt="sponsor logo" /></li>
	  <li><img src="/assets/isense_logo.png" width="115" height="101" alt="sponsor logo"/></li>
	  <li class="last_sponsor"><img src="/assets/thoughtworks_logo.png" width="115" height="101" alt="sponsor logo"/></li>
	</ul>
</div>
