<div class="content_full" style="min-height: 500px; height: 500px;">
<div style="width:100%;"> <!-- Main Div -->

<div style="float:left; width:20%;">
Radisson Blu Hotel New Delhi Dwarka,</br>
Plot No. 4,</br>
Sector 13 - Next to Metro Station,</br>
Dwarka City Centre,</br>
Near IGI Airport - 110075</br> 
New Delhi - India
</div>
<div style="float:right; width:80%;">



<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Radisson+Blu+Hotel+New+Delhi+Dwarka,+New+Delhi,+Delhi&amp;aq=1&amp;oq=Hotel+Radiss&amp;sll=18.646245,82.792969&amp;sspn=46.057205,86.572266&amp;ie=UTF8&amp;hq=Radisson+Blu+Hotel+New+Delhi+Dwarka,+New+Delhi,+Delhi&amp;ll=28.596467,77.036068&amp;spn=0.021364,0.042272&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=764517542132019343&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Radisson+Blu+Hotel+New+Delhi+Dwarka,+New+Delhi,+Delhi&amp;aq=1&amp;oq=Hotel+Radiss&amp;sll=18.646245,82.792969&amp;sspn=46.057205,86.572266&amp;ie=UTF8&amp;hq=Radisson+Blu+Hotel+New+Delhi+Dwarka,+New+Delhi,+Delhi&amp;ll=28.596467,77.036068&amp;spn=0.021364,0.042272&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=764517542132019343" style="color:#0000FF;text-align:left">View Larger Map</a></small>

</div>
</div>

 
 
</div>
