<div class="speakers_box">
  <div class="speaker_pic"><img src="/assets/archana.jpg" height="102" width="100" alt="Archana Joshi"/></div>
  <div class="speaker_details">
	<h2>Archana Joshi</h2>
	<p>Archana Joshi is a certified Scrum Professional (CSP), & Certified Scrum Master (CSM) with experience of 12 years. She is involved in Agile Coaching, Consulting, including business plan & sales strategy development.</p>
  </div>
</div>
