<div class="speakers_box">
  <div class="speaker_pic"><img src="/assets/jainendra.jpg" height="100" width="100" alt="Jainendra Kumar"/></div>
  <div class="speaker_details">
	<h2>Jainendra Kumar</h2>
	<p>Jainendra (Jai) is Director - Product Development at Pitney Bowes Software, is a business and technology visionary, brings ideas and concepts to realization through cutting edge technology solutions in-line with corporate strategy. He is an agile practitioner, coach, thought leader, speaker and write blogs</p>
  </div>
</div>
