<div class="speakers_box">
  <div class="speaker_pic"><img src="/assets/rena.png" height="102" width="100" alt="Rena Striegel"/></div>
  <div class="speaker_details">
	<h2>Rena Striegel</h2>
	<p>Rena is the Director of Franchising and Training for BNI India. She is responsible for training business owners how to maximize their referral business through word of mouth marketing. Rena is a best selling author of the book “Building the Ultimate Network” </p>
  </div>
</div>
