<div class="footer_content">
  <div class="adress_area">
  	<h2><img src="/assets/contact-us.png" /></h2>
  	<p><b>For Sponsorship Queries:</b> sponsors2012@agilencr.org</p>
    <p><b>For Delegate Registration Queries:</b> delegatesupport2012@agilencr.org</p>
    <p><b>For Speaker Queries:</b> speakers2012@agilencr.org</p>
    <p><b>For everything else:</b> organizers2012@agilencr.org</p>
  </div>
  <div class="social_media">
	<ul>
	  <li><a href="http://www.flickr.com/photos/xebiaindia" target="_blank"><img src="/assets/flickr_icon.gif" longdesc="#" /></a></li>
	  <li><a href="http://www.facebook.com/people/Agile-Ncr/100001881565920" target="_blank"><img src="/assets/facebook_icon.gif" longdesc="#" /></a></li>
	  <li><a href="http://twitter.com/agilencr" target="_blank"><img src="/assets/twitter_icon.gif" longdesc="#" /></a></li>
	  <li><a href="http://www.youtube.com/XebiaIndia" target="_blank"><img src="/assets/youtube_icon.gif" longdesc="#" /></a></li>
	  <li><a href="http://www.slideshare.net/agilencr" target="_blank"><img src="/assets/share_icon.gif" longdesc="#" /></a></li>
	</ul>
  </div>
  <div class="copyright">&nbsp;</div>
</div>